parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 3
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 12
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 5
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Method Cbox\\LaravelQueueAutoscale\\Configuration\\AutoscaleConfiguration\:\:policyClasses\(\) should return array\<int, class\-string\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Cannot access offset ''ema_alpha'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''enabled'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''fallback_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''forecaster'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''history_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''horizon_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''max'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''min'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''min_samples'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''percentile'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''policy'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''shutdown_timeout_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''sleep_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''target_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''timeout_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''tries'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''window_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 2
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 13
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \#1 \$base of static method Cbox\\LaravelQueueAutoscale\\Configuration\\QueueConfiguration\:\:deepMerge\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \#2 \$override of static method Cbox\\LaravelQueueAutoscale\\Configuration\\QueueConfiguration\:\:deepMerge\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \$forecasterClass of class Cbox\\LaravelQueueAutoscale\\Configuration\\ForecastConfiguration constructor expects class\-string\<Cbox\\LaravelQueueAutoscale\\Contracts\\ForecasterContract\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \$policyClass of class Cbox\\LaravelQueueAutoscale\\Configuration\\ForecastConfiguration constructor expects class\-string\<Cbox\\LaravelQueueAutoscale\\Contracts\\ForecastPolicyContract\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 4
			path: src/Manager/AutoscaleManager.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 7
			path: src/Manager/AutoscaleManager.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Manager/AutoscaleManager.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Workers/WorkerTerminator.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/Workers/WorkerTerminator.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Workers/WorkerTerminator.php
