parameters:
	ignoreErrors:
		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Workers/WorkerTerminator.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/Workers/WorkerTerminator.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Workers/WorkerTerminator.php

		-
			message: '#^Property Cbox\\LaravelQueueAutoscale\\Scaling\\Calculators\\CapacityCalculator\:\:\$cachedAvailableCores \(float\|null\) is never assigned float so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Scaling/Calculators/CapacityCalculator.php
